# Data Science Tools and Ecosystem

## Introduction: In this notebook, data science tools and ecosystems are listed and discussed.

Data Science Languages: <br>
<ol>
    <li> Python </li>
    <li> R </li>
    <li> SQL </li>
    <li> Java </li>
    <li> C++ </li>
    <li> Visual Basic </li>
    <li> Julia </li>
    </ol>

Data Science Libraries: <br>
<ol>
    <li> Python </li>
    <li> Pandas </li>
    <li> NumPy </li>
    <li> Matplotlib </li>
    <li> Spark </li>
    </ol>

| Data Science Tools |
|---|
| MySQL |
|Apache CouchDB|
|MongoDB|
|Ceph|
|Hadoop File System|
|Jupyter|

### Arithmetic Operations Examples:

In [11]:
(3*4)+5

17

In [10]:
#Convert minutes to hours
time = 200
hours = time/60
print(str(hours) + " hours")

3.3333333333333335 hours

Objectives: <br>
<ul>
    <li> Understand data science languages </li>
    <li> Understand data science libraries </li>
    <li> Know data science tools </li>
    <li> Creating code for arithmetic expressions </li>
    <li> Using markdown cells </li>
    </ul>

## Author:
Jackie L